## IDEs

.idea/
.vs/
.vscode/

## OS

~$*
*~
.~*
*.exe
.DS_Store

## C

# Object files
*.o
*.gch

# Libraries
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# NBS
build/
nbs
nbs.old

## Python

__pycache__/
*.pyc
/.venv/
.venv/
.venv/*

## Rust

target/
