* {
  margin: 0;
}

:root {
  --sidebar-width: 230px;
  --sidebar-border-color: #899fb3;
  --sidebar-background-color: #F0F8FF;
  --sidebar-hover-color: #D4E9FC;
  --sidebar-active-color: #89BAE9;
}

.sidebar {
  background-color: var(--sidebar-background-color);
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  border-right: 1px solid var(--sidebar-border-color);
}

.page {
  margin-left: var(--sidebar-width);
  padding: 20px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
    border-right: none;
    border-bottom: 2px solid var(--sidebar-border-color);
  }

  .page {
    margin-left: 0;
  }
}

