.link a {
  background-color: var(--sidebar-background-color);
  color: black;
  padding: 7px;
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 20px;

}

.link.top a {
  padding-top: 20px;
}

.link.active a {
  background-color: var(--sidebar-active-color);
  color: white;
}

.link:not(.active) a:hover {
  background-color: var(--sidebar-hover-color);
  color: black;
}
